<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/robolaunch_cloudy_description/urdf/diffbot.xacro
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="$(arg robot_name)">
  <xacro:arg name="use_sim" default="false" />

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="robot_name" default="" />

  <xacro:include filename="$(find robot_bringup)/urdf/cloudy_v2_core.xacro" />

  <xacro:diffbot prefix="$(arg prefix)" 
                  robot_name="$(arg robot_name)"/>

</robot>
